if SHIELD_SPLAKE_ISH_TEST_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "splake_ish-test"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
  default 1

config BT_MAX_CONN
  default 6

config BT_MAX_PAIRED
  default 6

# Bump this value needed for concurrent GATT discovery of splits
config BT_L2CAP_TX_BUF_COUNT
    default 10 if ZMK_SPLIT_ROLE_CENTRAL

endif

if SHIELD_SPLAKE_ISH_TEST_LEFT || SHIELD_SPLAKE_ISH_TEST_RIGHT

config ZMK_SPLIT
    default y

endif
ZMK_RGB_UNDERGLOW_BRT_MAX=40
ZMK_RGB_UNDERGLOW_EXT_POWER=n
